# Estatística Aplicada a Ciência de Dados: Lista de Exercícios - 03

01. O operador lógico **ou (or; |)** analisa:

> (a) Se todos os testes lógicos são verdadeiros.
>
> (b) Se todos os testes lógicos são falsos.
>
> (c) Se pelo menos 1 teste lógico é verdadeiro.
>
> (d) Se pelo menos 1 teste lógico é falso.
>
> (e) Nenhuma das alternativas anteriores estão corretas.

In [ ]:
#@title { run: "auto", vertical-output: true, display-mode: "form" }

q01 = ' ' #@param[' ', '(a)', '(b)', '(c)', '(d)', '(e)']

correct = '(c)'

if q01 == correct:
    print('Está correto.')

else:
    print('Está incorreto.')

02. O operador lógico **e (*and*; *\&*)** analisa:

> (a) Se todos os testes lógicos são verdadeiros.
>
> (b) Se todos os testes lógicos são falsos.
>
> (c) Se pelo menos 1 teste lógico é verdadeiro.
>
> (d) Se pelo menos 1 teste lógico é falso.
>
> (e) Nenhuma das alternativas anteriores estão corretas.

In [ ]:
#@title { run: "auto", vertical-output: true, display-mode: "form" }

q02 = ' ' #@param[' ', '(a)', '(b)', '(c)', '(d)', '(e)']

correct = '(a)'

if q02 == correct:
    print('Está correto.')

else:
    print('Está incorreto.')

03. Quando queremos selecionar linhas que obedeçam mais de 1 condição cada teste lógico deve estar entre:

> (a) aspas simples.
>
> (b) aspas duplas.
>
> (c) aspas triplas.
>
> (d) parênteses.
>
> (e) colchetes.
>
>(f) chaves.

In [ ]:
#@title { run: "auto", vertical-output: true, display-mode: "form" }

q03 = ' ' #@param[' ', '(a)', '(b)', '(c)', '(d)', '(e)', '(f)']

correct = '(d)'

if q03 == correct:
    print('Está correto.')

else:
    print('Está incorreto.')

04. Para renomear as colunas de uma tabela em *pandas* precisamos fornecer o parâmetro *columns* ao método *.rename( )*. O argumento *columns*, por sua vez recebe um *dicionário* com o nome antigo e o novo nome de uma coluna. Um *dicionário* em Python é construído usando-se:

> (a) aspas simples.
>
> (b) aspas duplas.
>
> (c) aspas triplas.
>
> (d) parênteses.
>
> (e) colchetes.
>
> (f) chaves.

In [ ]:
# @title  { run: "auto", vertical-output: true, display-mode: "form" }
q04 = ' ' #@param[' ', '(a)', '(b)', '(c)', '(d)', '(e)', '(f)']

correct = '(f)'

if q04 == correct:
    print('Está correto.')

else:
    print('Está incorreto.')

5. A tabela a seguir contém informações de alguns carros comercializados nos Estados Unidos. O link de acesso a ela é

> [https://raw.githubusercontent.com/nightlySnoopy/database/main/car.csv](https://raw.githubusercontent.com/nightlySnoopy/database/main/car.csv)

Com base nisso, faça o que se pede:

(a) Chame a biblioteca *pandas* com o *alias pd* e atribua essa tabela ao nome *df5*.

(b) Visualize as 5 primeiras linhas.

(c) Verifique quantas linhas e colunas estão presentes nessa tabela.

(d) Verifique o rótulo e cada coluna dessa tabela.

(e) Renomeie a penúltima e antepenúltima coluna da seguinte forma:

* city-mpg $\Rightarrow$ cidade-milhas/L
* highway-mpg $\Rightarrow$ estrada-km/L

**Atenção**: "mpg" são as primeiras letras de "Miles Per Gallon" (milhas por galão americano). Embora os valores dessas colunas não estejam em "quilômetro por litro", no decorrer deste exercício iremos realizar a conversão entre essas unidades. Por esse motivo, mesmo não estando correto agora, execute a renomeação dessas colunas conforme orientado.

(f) verifique se as colunas foram renomeadas

(g) Nos Estados Unidos *mpg* significa *miles per gallon* (milhas por galão). Para converter essa medida para $km/\ell$ precisamos multiplicar por

> 0.425143707

a medida em mpg. Multiplique cada valor das colunas *cidade-km/L* e *estrada-km/L* pelo fator de conversão acima. Em seguida verifique como ficou o resultado. (Dica: faça 1 coluna por vez.)

(h) Deixe os valores da coluna *cidade-km/L* em ordem crescente.

(i) Deixe os valores da coluna *estrada-km/L* em ordem decrescente.

6. A tabela a seguir é referente aos dados coletados de um hospital norte americano sobre gestantes e seus bebês recém-nascidos.

> [https://raw.githubusercontent.com/nightlySnoopy/database/main/birth.csv](https://raw.githubusercontent.com/nightlySnoopy/database/main/birth.csv)

(a) Atribua essa tabela ao nome *df6*.

(b) Visualize as 10 últimas linhas dessa tabela.

(c) As massas dos recém-nascidos (*Birth Weight*) estão em onças. Para converter para quilogramas é preciso multiplicar a medida em onça por 0.02834952. Com base nisso:

1. Faça a conversão para quilograma;
2. Deixe os resultados com 3 casas decimais;
3. Atribua a tabela convertida ao próprio nome *df6*;
4. Visualize a tabela obtida.

(d) Mude o rótulo
* *Birth Weight* para *Massa kg*;
* *Maternal Smoker* para * *Fumante*
* *Gestational Days* para *Dias de gestação*

e atualize e verifique como ficou a tabela *df6*.

(e) Deixe a tabela apenas com as colunas *Massa kg*, *Fumante* e *Dias de Gestação*. Visualize a nova tabela obtida. Atribua essa nova tabela ao nome **df6e**.

(f) Crie a tabela com nome *df6f* filtrando os valores da coluna *Fumante* para *True* da tabela **df6e**. Visualize o resultado.

7. A tabela presente no link a seguir contém algumas informações de carros híbridos vendidos nos Estados Unidos entre 1997 e 2013 (Dados adaptados do professor Larry Winner). Com base nisso, faça o que se pede:

> [https://raw.githubusercontent.com/nightlySnoopy/database/main/car2.csv](https://raw.githubusercontent.com/nightlySnoopy/database/main/car2.csv)

(a) Atribua essa tabela ao nome *df7*:

### (a) Essa tabela contêm as seguintes variáveis:

1. *vehicle*: Nome do veículo. Mude para *nome*;
2. *year*: Ano de fabricação. Mude para *ano*;
3. *msrp*: Preço sugerido pelo fabricante em dólares em 2013. Mude para *preço2013*
4. *acceleration*: aceleração em quilômetros por hora por segundo. Mude para *aceleração*.
5. *mpg*: Consumo de combustível em milhas por galão. Mude para *consumo*
6. *class*: Classe do modelo. Mude para *classe*.

(b) Vimos que para converter milhas por galão (americano) para quilômetros por litro, precisamos multiplicar o valor em galão por 0.425143707. Multiplique a coluna *consumo* por esse fator, deixe o resultado com 2 casas decimais e atualize a tabela *df7* com os valores dessa coluna convertidos.

(c) Filtre os carros que tem aceleração superior a 10 km/h por segundo e consumo inferior ou igual a 8.5 km/$\ell$.

(d) Filtre os carros classificados como *SUV* (*sport utility vehicle*) ou que o preço seja inferior a $ 10 000.00.

(f) Filtre os carros que contém *FWD* (*Front Wheel Drive*) em seu nome.

(g) Quantos carros foram produzidos em 2012? (Dica: Use a função *len( )* ou o método *.shape*.)

(h) Ordene a tabela do carro menos econômico ao mais econômico.

(i) Verifique a classificação dos valores presentes em cada coluna. Faz sentido as classificações presentes? Existem colunas com valores ausentes?

A princípio, parece que a classificação dos valores presentes em cada coluna da tabela estão corretas.

Não há colunas com linhas vazias.

8. Na Questão 06 trabalhamos com os dados de gestantes e seus bebês recém nascidos. Os dados que iremos utilizar estão presentes na tabela **df6**. Com base nisso:

(a) Quais são as colunas presentes na tabela *df6*?

(b) Bebês com massa inferior a 2.5 kg ao nascer "apresentam uma alta taxa de mortalidade e morbidade neonatal e infantil, sendo considerado o fator isolado mais influente na sobrevivência nos primeiros anos de vida". Verifique quantos recém nascidos se encaixam nesse quesito.

(c) Em relação à amostra presente em *df6*, qual é a porcentagem de bebês com baixa massa ao nascer?

**Dica:**

Para calcular a porcentagem de uma parcela de um grupo com características desejadas presentes nesse grupo basta executar a seguinte operação:

> $\displaystyle \text{Porcentagem} = \frac{\text{Quantidade de elementos com as características desejadas presentes no grupo} \times 100}{\text{Total de elementos presentes no grupo}}$

(d)  A "macrossomia fetal (massa > 4.0 kg) é relacionada à asfixia neonatal, maior risco de hipoglicemia fetal, rotura prematura de membranas, trabalho de parto prematuro, desproporção feto-pélvica, traumas esqueléticos, distúrbios hidroeletrolíticos, aspiração de mecônio, entre outros. Além disso, a longo prazo, o crescimento fetal inadequado favorece o desenvolvimento de doenças crônicas não transmissíveis na vida adulta". Com base nisso, quantos porcento dos recém nascidos em *df6* se encontram em estado de macrossomia fetal?

(e) Crie a tabela *df6e* filtrando os casos em que os recém nascidos tem massa inferior a 2.5 kg.

(f) Qual é a porcentagem, em relação ao total de recém nascidos com massa inferior a 2.5 kg com mães fumantes? E mães não fumantes?

(g) Crie a tabela *df6g* filtrando os casos em que os recém nascidos tem massa superior a 4 kg.

(h) Qual é a porcentagem, em relação ao total de recém nascidos com massa superior a 4 kg com mães fumantes? E mães não fumantes?

09. Ao executar a célula abaixo irá gerar uma tabela com os códigos de serviços prestados por sua empresa, o valor do serviço em reais e a taxa de reajuste que você fará.

In [ ]:
# Apenas execute esta célula ###################################################
import string
import numpy as np

letters = list(string.ascii_lowercase)
numberIndex = range(10)
letterIndex = range(len(letters))
count = 0
id = []

while count < 150:
  i = np.random.choice(numberIndex, 1)
  x = str(numberIndex[int(i)])
  i = np.random.choice(numberIndex, 1)
  x = x + str(numberIndex[int(i)])
  n = np.random.choice(letterIndex, 1)
  x = x + str(letters[int(n)])
  x = x + str(numberIndex[int(i)])
  x = x + str(numberIndex[int(i)])

  if x in id:
    continue

  else:
    id.append(x)
    count = count + 1

tax = np.round(np.random.uniform(0, 3, count), 2)
price = np.round(np.random.uniform(150, 1515, count), 2)
data = {'Código': id, 'Preço': price, 'Reajuste': tax}
df9 = pd.DataFrame(data)
df9

(a) Para reajustar os preços de cada serviço, você deverá multiplicar cada valor da coluna **preço** pela sua respectiva taxa de reajuste presente na coluna **Reajuste** da tabela **df9**. Crie a coluna **Novo Preço** com os valores atualizados com **2 casas decimais**.

(b) Para os clientes que pagarem à vista, você decidiu que poderá dar um desconto em alguns serviços. Execute a célula abaixo para acrescentar a coluna *Desconto* na tabela *df9*:

In [ ]:
# Apenas execute esta célula ###################################################
df9['Desconto'] = np.round(np.random.uniform(0.02, 0.25, count), 2)            #
df9                                                                            #
################################################################################

(c) Crie a coluna **Preço Com Desconto**. Para isso, multiplique

> coluna **Novo Preço** por (1 - coluna **Desconto**). Deixe com 2 casas decimais:

(d) Como o cálculo da taxa de reajuste foi feita por outra pessoa, você  gostaria e saber quais foram os serviços que sofreram mais reajuste. Verifique.

(e) Como o cálculo da taxa de desconto também foi feita por outra pessoa, você  gostaria e saber quais foram os serviços que terão menores descontos. Verifique.

(f) Tem algum serviço que sofreu reajuste superior ou igual a 1.5 e terá desconto inferior que 0.15?

(g) Crie a tabela *novo* com a <ins>*cópia*</ins> das colunas *Código, Novo Preço* e *Preço Com Desconto* da tabela *df9*. Visualize as 5 primeiras linas de *novo*.

(h) Multiplique todas as linhas da coluna *Preço Com Desconto* por 0.90. Deixe os resultados com 2 casas decimais, atualize os valores dessa coluna e visualize suas 5 primeiras linhas.